body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; 

}

.page-container {
    max-width: 450px;
    margin: 0 auto;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    padding: 20px 20px 10px;
    background-color: white;

}
.header h1{
    font-size: 1.8rem;
    font-weight: 600;
    color: #333;
    margin: 0;
}
.transaction-list{
    flex-grow: 1;
    padding: 10px 20px;
}
.transaction-item{
    display: flex;
    align-items: center;
    padding: 12px 15px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: 1px solid #eee;
}
.icon-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height:30px;
    border-radius: 50%;
    margin-right: 15px;
    font-weight: bold;
    font-size: 1.2rem;
}
.income .icon-arrow{
    background-color: #e6f7e6;
    color: #28a745;
}
.expense .icon-arrow{
    background-color: #fcebeb;
    color: #dc3545;
}
.details{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.details .name{
    font-weight: 600;
    color: #333;
    font-size: 0.95rem;
}
.details .type{
    font-size: 0.8rem;
    color: #6c757d;
}
.amount{
    font-weight: bold;
    font-size: 1.1rem;
}
.income .amount{
    color: #28a745;
}
.expense .amount{
    color: #dc3545;
}
.navbar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 0;
    border-top: 1px solid #eee;
    background-color: #f5f5f5;
    box-shadow: #2015a0 5px;
    border-radius: 10px;
    height: 50px;
    width: 70%;
    border-top-right-radius: 0 -4px 10px rgba(0,0,0.05);
}
.nav-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #651f1f;
    font-size: 0.8rem;
    cursor: pointer;
    height: 70px;
    width: 89px;
    border-radius: 10px;
    transition: color 0.3s;
    background-color: #2f26803b;
}
.nav-item .icon{
    font-size: 1.5rem;
    margin-bottom: 3px;
}
.active{
    background-color: #2f26807d;
}
.nav-item .active{
    color: #6f42c1;
    background-color: #f3f0ff;
    border-radius: 15px;
    font-weight: bold;

}
.guion{
    color: #2F2680;
    font-size: 20px;
}
.titulohisto{
    color: #2F2680;
    font-weight: bold;
    font-size: 20px;
}
.header h1{
    color: #2F2680;

}